<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/roomList.css">
</head>
<body>

<div class="chatroom-list">
    <div class="header">
        <h1>채팅</h1>
        <div class="user-info">
            <button id="create-room" th:onclick="|location.href='@{/chat/create}'|">대화방 추가</button>
            <button id="invitation-list" th:onclick="|location.href='@{/chat/invitationList}'|">초대장 목록 가기</button>
        </div>
    </div>
    <div>
    <span class="chatroom" th:unless="${roomList==null}" th:each="r :${roomList}">
         <h2 th:text="${r.getRoomName()}" th:onclick="|location.href='@{/chat(roomId=${r.getRoomId()})}'|"></h2>
    </span>
    </div>

</div>
</body>
</html>