<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">


    <!-- Bootstrap core CSS -->
    <link href="css/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--    <input type="hidden" name="id" th:value="${projectDto.getId()}">-->
    <input type="hidden" id="projectId" th:value="${projectDto.getId()}">
    <ul class="list-group" th:each="a:${applicantList}">
        <li class="list-group-item">
            <input type="hidden" id="userEmail" th:value="${a.getMember().getEmailId()}">
<!--            <input type="hidden" name="emailId" th:value="${a.getMember().getEmailId()}">-->
            <img src="/images/my_img.png" width="40" height="40"><br>
            <text th:text="${a.getMember().getUsername()}"></text> &nbsp;
<!--            <button type="submit" value="승인" onclick="javascript: form.action='/mypage-project/approve'">승인</button> &nbsp;-->
<!--            <button type="submit" value="거절" onclick="javascript:form.action='/mypage-project/reject'">거절</button>-->
            <button class="approve_btn" value="승인">승인</button> &nbsp;
            <button class="refuse_btn" value="거절">거절</button>
        </li>

    </ul>

</span>
<script src="/js/applicant.js?ver=1"></script>
</body>
</html>