<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">



  <!-- Bootstrap core CSS -->
  <link href="css/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="text-center">
<form action="/mypage-project">
<tr th:each="p:${pList}" class="list-group">
    <li>
        <button type="submit" th:onclick="|location.href='@{/mypage-profile}'|" class="list-group-item list-group-item-action " name="projectName" th:value="${p.getProject().getProjectName()}" th:text="${p.getProject().getProjectName()}">프로필 설정</button>

    </li>
</tr>
</form>
<a  class="btn btn-primary" th:href="@{/}">메인으로 이동</a>

</body>
</html>