<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/tutorial.css">
    <link rel="stylesheet" href="/css/project_bulletin.css">
    <link rel="stylesheet" href="/css/pagination.css">
</head>

<body class="wrapper2" style="background-color:#13161c">
<!--히든 전역 정보-->
<input type="hidden" id="cur_page" th:value="${page}">
<input type="hidden" id="urlParam" th:value="${urlParam}">
<input type="hidden" id="paging" th:value="${paging}">
<input type="hidden" id="cur_pageLine" th:value="${paging.getPageLine()}">
<header id="contents_box" >

    <a th:href="@{/tutorial}"><img src="/images/프로젝트용병모집.jpg" id="donga" alt="이미지 불러오기 실패" style="margin-left:50px"
                                    width="200" height="45"></a>
    <div class="nav_items" style="margin-left:150px;">
        <ul>
            <li><a th:href="@{/tutorial}" style="color:white">튜토리얼</a></li>
            <li><a th:href="@{/question}" style="color:white">문의게시판</a></li>
            <li><a th:href="@{/chat/roomList}" style="color:white">채팅</a></li>
        </ul>
        <a th:href="@{/mypage/profile}">
            <img th:if="${member==null} or ${member.getProfileImg()==null}" src="/images/my_img.png" width="40" height="30" style="margin-left:30px;border-radius:50%;border:none">
            <img th:unless="${member==null} or ${member.getProfileImg()==null}" th:src="${member.getProfileImg()}" width="40" height="30" style="margin-left:30px;border-radius:50%;border:none">

        </a>
        &nbsp;

    </div>

    <span th:if="${member==null}">
            <button type="button" id="login" th:onclick="|location.href='@{/login}'|"
                    style="margin-right:50px; width:150px ;height:30px">로그인</button>
        </span>
    <span th:unless="${member==null}">
                  <span th:text="${member.getUsername()}+님" style="font-size:0.7em; color:gray; width:100px">회원명</span>
            <button type="button" id="logout" th:onclick="|location.href='@{/logout}'|"
                    style="margin-right:50px; width:150px ;height:30px">로그아웃</button>
                </span>
</header>

<div class="wrap2" style=" width:1500px;height:2000px">


    <div class="fixed_img_col" style="height:1500px">

        <h1 style="color:white; text-align:center;font-size:50px; margin-top:100px">프로젝트</h1>
        <span style="color:white;font-size:20px;margin-left:570px">원하는 카테고리의 프로젝트만 검색하기</span><br><br>
        <span style="font-size:15px;color:white;;margin-left:640px">카테고리 선택 후 검색버튼 클릭!</span><br><br><br>

        <form th:action="@{/project/Search(urlParam=${urlParam})}" method="get">
            <!--히든-->
            <input type="hidden" id="bookmarkImg" th:value="${bList}">
            <input th:if="${member==null}" type="hidden" id="username" th:value="null">
            <input th:unless="${member==null}" type="hidden" id="username" th:value="${member.getUsername()}">
            <input type="hidden" id="searchField" th:value="${fList}">
            <input type="hidden" id="searchLanguage" th:value="${lList}">

            <div class="check_wrap" style="margin-left:300px">
                <div style="border-bottom:1px solid cyan;width:930px">

                    <span style="color:white;margin-left:360px">분야 : </span>
                    <input type="checkbox" name="field" id="프론트엔드" value="프론트엔드"/><span
                        style="color:white;">프론트엔드</span>
                    <input type="checkbox" name="field" id="백엔드" value="백엔드"/><span
                        style="color:white;">백엔드</span><br><br><br>
                </div>
                <br><br>
                <span style="color:white;margin-left:100px">언어 : </span>
                <input type="checkbox" name="language" id="C" style="margin-left:10px" value="C"/><span
                    style="color:white;">C</span>
                <input type="checkbox" name="language" id="JAVA" style="margin-left:10px" value="JAVA"/><span
                    style="color:white;">JAVA</span>
                <input type="checkbox" name="language" id="PYTHON" style="margin-left:10px" value="PYTHON"/><span
                    style="color:white;">PYTHON</span>
                <input type="checkbox" name="language" id="CSS" style="margin-left:10px" value="CSS"/><span
                    style="color:white;">CSS</span>
                <input type="checkbox" name="language" id="JAVASCRIPT" style="margin-left:10px"
                       value="JAVASCRIPT"/><span style="color:white;">JAVASCRIPT</span>
                <input type="checkbox" name="language" id="TYPESCRIPT" style="margin-left:10px"
                       value="TYPESCRIPT"/><span style="color:white;">TYPESCRIPT</span>
                <input type="checkbox" name="language" id="SQL" style="margin-left:10px" value="SQL"/><span
                    style="color:white;">SQL</span>
                <input type="checkbox" name="language" id="PHP" style="margin-left:10px" value="PHP"/><span
                    style="color:white;">PHP</span>
                <input type="checkbox" name="language" id="KOTLIN" style="margin-left:10px" value="KOTLIN"/><span
                    style="color:white;">KOTLIN</span>
                <input type="checkbox" name="language" id="GO" style="margin-left:10px" value="GO"/><span
                    style="color:white;">GO</span>
                <input type="checkbox" name="language" id="SWIFT" style="margin-left:10px" value="SWIFT"/><span
                    style="color:white;">SWIFT</span>
            </div>
            <br>
            <div style="width:1500px;height:150px">
                <button class="w-btn w-btn-gra2 w-btn-gra-anim" id="search_btn"
                        style="margin-left:680px;width:150px;font-size:15px"
                        type="submit">
                    검색
                </button>

            </div>
        </form>

        <span th:if="${pList==null}" style="color:white; align-content: center">검색 결과가 없습니다</span>
        <div th:unless="${pList==null}" style="height:670px">
            <ul style="margin-left:70px; margin-top: -100px">
                <li style="margin-top:150px" th:each="p:${paging.getProjectList()}">
                    <img src="/images/하트모양(회색).jpg" th:id="${p.id}" class="bookmark heart1" width="20" height="20"
                         alt=""
                         style="margin-left:180px">
                    <a th:href=" '/project/introduce?projectName=' +${p.projectName}" class="proj"><span
                            class="thumb">
<!--                        사용자가 따로 이미지를 지정하지 않았다면 디폴트 사진 적용-->
                        <img class="posting" th:if="${p.img}==null" src="/images/개발자사진.jpg" width="200" height="150"
                             alt="">
                        <img class="posting" th:unless="${p.img}==null" th:src="${p.img}" width="200" height="150"
                             alt="">
                        <em>프로젝트 소개 보기</em></span>
                        <strong th:text="${p.projectName}" style="color:white;width:200px">프로젝트 제목 </strong></a>
                    <span th:text="'('+${p.getCurHeadcount()}+'/'+${p.getTotalHeadcount()}+')'" style="color:white"></span><br>
                    <span th:each="f:${p.getFieldList()}">
                        <text style="color: gray" th:text="${f.getField()}"></text>
                    </span>
                    <span th:each="g:${p.getLanguageList()}">
                                        <text style="color: gray" th:text="${g.getLanguage()}"></text>
                                    </span>
                </li>

            </ul>
        </div>

<!--        프로젝트 생성 버튼-->
        <button id ="creating_newPro"  th:onclick="|location.href='@{/project/create}'|"style="margin-top:30px;width:200px;height:60px;font-size:15px;margin-left:1050px;background-color:#13161c;border-color:cyan;cursor:pointer;color:white;border-radius:20px">프로젝트 생성하기</button>

        <div th:unless="${pList==null}" style="border-bottom:1px solid white">
            <div class="pagination-container" style="color:white;margin-top: 100px">
                <!--                현재 페이지 넘버-->
                <span th:if="${type=='ALL'}">

                <button class="first-button" th:onclick="|location.href='@{/project(page=0)}'|"
                        style="color:white;margin-left:100px;"><span>처음</span></button>

                <button class="prev-button" th:if="${paging.getPageLine()}>0" style="color:white;margin-left: 20px"
                        th:onclick="|location.href='@{/project(page=${paging.getPrevPage()})}'|"><span>이전</span></button>

                <span th:unless="${page}==-1" th:id="currentPage+${page}"
                      th:each="page: ${#numbers.sequence(paging.getStartPage(), paging.getEndPage())}">
                 <button class="number-button " th:text="${page+1}" style="color:white;margin-left:20px;"
                         th:onclick="|location.href='@{/project(page=${page})}'|"></button>
                    </span>

            <button class="next-button" th:if="${paging.getPageLine()}<${paging.getTotalPageLine()}"
                    style="color:white; margin-left: 20px"
                    th:onclick="|location.href='@{/project(page=${paging.getNextPage()})}'|"><span>다음</span></button>

                <button class="last-button" th:onclick="|location.href='@{/project(page=${paging.getTotalPage()})}'|"
                        style="color:white;margin-left:20px;"><span>마지막</span></button>

                </span>

                <span type="hidden" th:if="${type=='SEARCH'}">
                <span type="hidden" th:if="${searchField}==null">
                <button class="first-button"
                        th:onclick="|location.href='@{/project/Search(page=0,language=${searchLanguage})}'|"
                        style="color:white;margin-left:100px;"><span>처음</span></button>

                <button class="prev-button" th:if="${paging.getPageLine()}>0" style="color:white; margin-left: 20px"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getPrevPage()}, language=${searchLanguage})}'|"><span>이전</span></button>
                <span class="currentPage" th:unless="${page}==-1"
                      th:each="page: ${#numbers.sequence(paging.getStartPage(), paging.getEndPage())}">
         <button class=" number-button" th:text="${page+1}" style="color:white;margin-left:20px;"
                 th:onclick="|location.href='@{/project/Search(page=${page},language=${searchLanguage})}'|"></button>
                    </span>

                <button class="next-button" th:if="${paging.getPageLine()}<${paging.getTotalPageLine()}"
                        style="color:white; margin-left: 20px"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getNextPage()},language=${searchLanguage})}'|"><span>다음</span></button>

                <button class="last-button"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getTotalPage()},language=${searchLanguage})}'|"
                        style="color:white;margin-left:20px;"><span>마지막</span></button>

                </span>

                <span type="hidden" th:if="${searchLanguage}==null">
                <button class="first-button"
                        th:onclick="|location.href='@{/project/Search(page=0,field=${searchField})}'|"
                        style="color:white;margin-left:100px;"><span>처음</span></button>

                <button class="prev-button" th:if="${paging.getPageLine()}>0" style="color:white; margin-left: 20px"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getPrevPage()}, field=${searchField})}'|"><span>이전</span></button>
                <span class="currentPage" th:unless="${page}==-1"
                      th:each="page: ${#numbers.sequence(paging.getStartPage(), paging.getEndPage())}">
         <button class="number-button " th:text="${page+1}" style="color:white;margin-left:20px;"
                 th:onclick="|location.href='@{/project/Search(page=${page},field=${searchField})}'|"></button>
                    </span>

                <button class="next-button" th:if="${paging.getPageLine()}<${paging.getTotalPageLine()}"
                        style="color:white; margin-left: 20px"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getNextPage()},field=${searchField})}'|"><span>다음</span></button>

                <button class="last-button"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getTotalPage()},field=${searchField})}'|"
                        style="color:white;margin-left:20px;"><span>마지막</span></button>

                </span>

                <span type="hidden" th:if="${searchLanguage}!=null and ${searchField}!=null">
                <button class="first-button"
                        th:onclick="|location.href='@{/project/Search(page=0,field=${searchField},language=${searchLanguage})}'|"
                        style="color:white;margin-left:100px;"><span>처음</span></button>

                <button class="prev-button" th:if="${paging.getPageLine()}>0" style="color:white; margin-left: 20px"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getPrevPage()}, field=${searchField},language=${searchLanguage})}'|"><span>이전</span></button>
                <span class="currentPage" th:unless="${page}==-1"
                      th:each="page: ${#numbers.sequence(paging.getStartPage(), paging.getEndPage())}">
         <button class="number-button" th:text="${page+1}" style="color:white;margin-left:20px;"
                 th:onclick="|location.href='@{/project/Search(page=${page},field=${searchField},language=${searchLanguage})}'|"></button>
                    </span>

                <button class="next-button" th:if="${paging.getPageLine()}<${paging.getTotalPageLine()}"
                        style="color:white; margin-left: 20px"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getNextPage()},field=${searchField},language=${searchLanguage})}'|"><span>다음</span></button>

                <button class="last-button"
                        th:onclick="|location.href='@{/project/Search(page=${paging.getTotalPage()},field=${searchField},language=${searchLanguage})}'|"
                        style="color:white;margin-left:20px;"><span>마지막</span></button>
                </span>
                </span>
            </div>

        </div>
    </div>
    <div id="advertisement" style=" background-color:#13161c;height:1000px">
        <div id="banner_comments">
            <br><br><br>
            <h1 style="color:white; text-align:center;font-size:40px">지금 여러분이 할 수있는 최고의 선택!</h1><br><br>

        </div>
        <div id="banner" style="text-align:center">
            <img src="/images/프로젝트사진1.jpg" id="project_pic" alt="이미지 불러오기 실패" width="650" height="300"
                 style="margin-top:10px ;margin-left:30px;margin-bottom:10px"><br>
            <div id="circle_btn ">
                <button class="circle"></button>
                <button class="circle"></button>
                <button class="circle"></button>
            </div>
        </div>

    </div>

</div>


<script th:inline="javascript" type="text/javascript" src="/js/project_bulletin.js?ver=2">
</script>
</body>
</html>

